<div>
    Dear
    <span style="color: #000000; font-weight: bold;">
        {% if user.full_name %}
            {{ user.full_name }}
        {% else %}
            {{ user.username }}
        {% endif %},
    </span>
</div>
<br>

<div>
    We received a request to reset the password for your Original Software account. If you did not make this request, please ignore this email. Otherwise, you can reset your password by clicking on the link below.
</div>
<br>

<div>
    <a href="{{ reset_url }}" target="_blank">Reset Password</a>
</div>
<br>

<div>
    This link will expire in 24 hours for security reasons. If you need a new link after it expires, please initiate a new password reset request on our website.
</div>
<br>

<div>
    For your security, please do not share this email or your password reset link with anyone.
</div>
<br>

<div>
    Thank you for being a valued customer.
</div>
<br>

<div>
    Warm regards,
</div>
<br>

<div>
    Original Software Team
</div>
